{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <nav class="navbar">
        <a href="index.html">Home</a>
        <a href="student.html" target="_blank">Registration</a>
        <a href="about.html" target="_blank">About</a>
        <a href="contact.html" target="_blank">Contact</a>
        <a href="projects.html" target="_blank">Projects</a>
    </nav>

    <h1>Welcome to Home Page</h1>
    <p>First Student Should Register The Form Application</p>

</body>

</html>