{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update Student</title>
    <link rel="stylesheet" href="{% static 'stdstyle.css' %}">
</head>

<body>
    <nav class="navbar">
        <a href="index.html" target="_blank">Home</a>
        <a href="student.html">Login</a>
        <a href="about.html" target="_blank">About</a>
        <a href="contact.html" target="_blank">Contact</a>
        <a href="projects.html" target="_blank">Projects</a>
    </nav>

    <div class="form-wrapper">
        <form method="post">
            {% csrf_token %}
            <h1>Update Student</h1>
    
            <label>Name:</label><br>
            <input type="text" id="name" name="sname" value="{{ student.name}}"><br><br>
    
            <label>USN:</label><br>
            <input type="text" id="usn" name="usn" value="{{ student.usn }}"><br><br>
    
            <label>Email:</label><br>
            <input type="email" id="email" name="email" value="{{ student.email }}"><br><br>
    
            <label>Phone:</label><br>
            <input type="number" id="mob" name="mob" value="{{ student.mob }}"><br><br>
    
            <label>College:</label><br>
            <input type="text" id="college" name="college" value="{{ student.college }}"><br><br>
    
            <label>Degree:</label><br>
            <input type="text" id="degree" name="degree" value="{{ student.degree }}"><br><br>
    
            <label>Sem:</label><br>
            <input type="number" id="sem" name="sem" value="{{ student.sem }}"><br><br>
    
            <label>Branch:</label><br>
            <input type="text" id="branch" name="branch" value="{{ student.branch }}"><br><br>
    
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>